*{
    margin: 0;
    padding: 0;
}
.signup_form_container{
    padding-top:100px;
    width:100%;
    max-width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:poppins;
}
.signup_form{
    max-width:99%;
    border:2px solid black;
    padding:10px;
    border-radius:10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.signup_btn, .login_btn{
    width:75%;
    margin:auto;
    background:linear-gradient(45deg, orangered,orange);
    border:none;
    font-size:20px;
    font-weight:700;
}
.btn_container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.signup_form_container .title{
    font-size:20px;
    font-weight:500;
}
.signup_form_container .form_img{
    min-width:50%;
}
